In [27]:
import pandas as pd
import sqlite3

In [28]:
# DATASET CSV USADO: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/XPT7L0


# Cargando los datos desde el archivo CSV
data = pd.read_csv("Smoking Covid-19 Patients.csv")

In [29]:
print(data)

        City Age Sex Smoke
0     Tehran  46   M    No
1     Tehran  65   M   Yes
2     Tehran  39   M    No
3     Tehran  42   F    No
4     Tehran  31   M   Yes
...      ...  ..  ..   ...
1035  Tehran  74   M    No
1036  Tehran  86   M    No
1037  Tehran  78   M    No
1038  Tehran  55   M    No
1039  Tehran  67   M    No

[1040 rows x 4 columns]

In [30]:
# Mostrar los primeros registros del dataset
#print(data.head(100))

In [39]:
# Eliminar todas las filas con datos faltantes
datos_limpio = data.dropna()

# Eliminar todas las columnas con datos faltantes
datos_limpio = data.dropna(axis=1)

#df_filtrado = datos_limpio.iloc[:100, [0, 1, 2, 3]]

In [40]:
print(datos_limpio)

        City Sex Smoke
0     Tehran   M    No
1     Tehran   M   Yes
2     Tehran   M    No
3     Tehran   F    No
4     Tehran   M   Yes
...      ...  ..   ...
1035  Tehran   M    No
1036  Tehran   M    No
1037  Tehran   M    No
1038  Tehran   M    No
1039  Tehran   M    No

[1040 rows x 3 columns]

In [45]:
#CONEXION A LA BDD


conexion = sqlite3.connect("covid19Database.db")
conexion.execute("DROP TABLE dataCovid;")
conexion.execute("CREATE TABLE dataCovid (City TEXT, Sex TEXT, Smoke TEXT)")

datos_limpio.to_sql("dataCovid", conexion, if_exists="replace")


conexion.close()